*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar-mini .main-sidebar {
    bottom: 0;
    float: none;
    left: 0;
    position: fixed !important;
    top: 0;
}
.brand-link:hover,.brand-link{
    text-decoration: none !important;
}
.form-main{
    padding-bottom: 80px;
    margin-top: 150px;
}
.form-main .form-inr {
    background-color: white;
    box-shadow: 0 2px 10px #00000040;
    padding: 30px 40px;
    border-radius: 5px;
    /* margin-top: 95px; */
}
.form-main .form-inr .form-group{
    margin-bottom: 15px;
}
.form-main .form-inr .form-group label{
    margin-bottom: 10px;
}

.gradient-text {
    background: -webkit-linear-gradient(280deg, #071006, #57b946);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
}

.error {
    color: red;
}

.form-main .alert{
    position: absolute;
    top: 5%;
    right: 1%;
}

/* Property Details CSS.. */


.about-property, .property-details-main{
    padding: 30px 0;
}

.proprety_img img{
    border-radius: 10px;
}
.center-img{
    margin: 15px 0;
}
.proprety_img .left-img{
    height: 600px;
}
.proprety_img .side-img{
    height: 190px;
    margin-bottom: 15px;
}
.proprety_img .side-img:last-child {
    margin: 0;
}
.property-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.price-ul{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
}

.price-ul li{
    display: inline-block;
    margin-right: 15px;
}

.price-ul li span{
    padding: 5px 12px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;

}

.price-ul li span.bed{
    background: rgba(3, 169, 244,0.1);
    color: #03a9f4;
}

.price-ul li span.bath{

    background: rgba(255, 152, 0,0.1);
    color: #ff9800;
}

.price-ul li span.garage{
    background: rgba(76, 175, 80,0.1);
    color: #4caf50;
}

.price-ul li span.sqft{
    background: rgba(230, 34, 34,0.1);
    color: #e62222;
}

.price-ul li span.category {
    background: rgb(0 94 255 / 10%);
    color: rgb(0 94 255);
}

.property-price-info h2{
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.property-price-info label{
    color:#72809D;
    font-size: 15px;
}
.share_list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.share_list li{
    padding-left: 15px;
    display: inline-block;
}
.share_list li a{
    color:#72809D;
}

.property-info, .property-advance-fea, .property-reviwe, .reviwe-box,.agent-info{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(114 128 157 / 20%);
    background-color: #fff;
    margin-bottom: 20px;
}
.property-info h3, .property-advance-fea h3, .property-reviwe h3,.reviwe-box h3{
    font-size: 18px;
    margin-bottom: 10px;
}

.property-info p{
    font-size: 14px;
    color:#72809D;
    margin: 0;
}

.property-advance-fea .feature_ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.property-advance-fea .feature_ul li{
    font-size: 18px;
    color: #72809D;
    margin-bottom: 10px;
}

.reviwe_ul{
    list-style: none;
    padding:20px 0 0;
    margin: 0;
}

.reviwe_ul li{
    padding-bottom: 15px;
    border-bottom: 1px dashed #72809D;
    margin-bottom: 20px;
}
.reviwe_ul li:last-child{
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 15px;
}

.reviwe_info{
    display: flex;
}

.reviwe_info .review_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.reviwe_info .reviwe_details{
    padding-left: 30px;
}

.reviwe_details h4{
    font-size: 20px;
    color: #72809D;
    margin: 0;
}

.reviwe_details span{
    text-transform: uppercase;
    font-size: 14px;
    color:#ef4060;
}
.reviwe_details p{
    margin: 10px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
.reviwe-bt{
    text-decoration: none;
    background-color: #eff1f5;
    color: #566180;
    font-size: 14px;
    padding: 8px 20px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
.reviwe-bt:hover{
    color:#27ae60;
}

.reviwe-box .form-control{
    margin-bottom: 20px;
}
.reviwe-box .submit-review-bt{
    background-color: #58bb47;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.agent-info{
    text-align: center;
}

.agent-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.agent-info-inr{
    padding: 20px;
}
.agent-info-inr h3{
    font-size: 22px;
    margin-bottom: 5px;
}
.agent-info-inr p{
    color: #879ac3;
    margin: 0;
}
.agent-info-inr p i{
    color: #05af78;
}

.agent_box_ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.agent-contact button.btn{
    background-color:#232c3d;
    color:#fff;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 20px;
}

.agent-contact p{
    background-color:rgba(5, 175, 120,0.1);
    color:#05af78;
    margin: 0;
    padding: 15px 20px;
    text-align: center;
}

.property_list_main{
    padding:30px 0;
}

#map{
    position: sticky !important;
    top: 19%;
}

.property_detail_inr_info {
    display: flex;
    align-items: center;
    margin-bottom:20px;
    cursor: pointer;
}

.property_detail_inr_info.active{
    padding: 10px;
    /* border: 2px double #32a1ce; */
    background: #b0e0e6;
    /* margin: 20px; */
}

.property_list_inr_box_img img{
    padding-right: 30px;
    width: 300px !important;
    height: 200px !important;
}
