*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar-mini .main-sidebar {
    bottom: 0;
    float: none;
    left: 0;
    position: fixed !important;
    top: 0;
}
.brand-link:hover,.brand-link{
    text-decoration: none !important;
}
.form-main{
    padding-bottom: 80px;
    margin-top: 150px;
}
.form-main .form-inr {
    background-color: white;
    box-shadow: 0 2px 10px #00000040;
    padding: 30px 40px;
    border-radius: 5px;
    /* margin-top: 95px; */
}
.form-main .form-inr .form-group{
    margin-bottom: 15px;
}
.form-main .form-inr .form-group label{
    margin-bottom: 10px;
}

.gradient-text {
    background: -webkit-linear-gradient(280deg, #071006, #57b946);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
}

.error {
    color: red;
}

.form-main .alert{
    position: absolute;
    top: 5%;
    right: 1%;
}
